<p id="notice"><%= notice %></p>

<p>
  <strong>Pin1:</strong>
  <%= @switch.pin1 %>
</p>

<p>
  <strong>Pin2:</strong>
  <%= @switch.pin2 %>
</p>

<p>
  <strong>Pin3:</strong>
  <%= @switch.pin3 %>
</p>

<p>
  <strong>Pin4:</strong>
  <%= @switch.pin4 %>
</p>

<p>
  <strong>P1value:</strong>
  <%= @switch.p1value %>
</p>

<p>
  <strong>P2value:</strong>
  <%= @switch.p2value %>
</p>

<p>
  <strong>P3value:</strong>
  <%= @switch.p3value %>
</p>

<p>
  <strong>P4value:</strong>
  <%= @switch.p4value %>
</p>

<%= link_to 'Edit', edit_switch_path(@switch) %> |
<%= link_to 'Back', switches_path %>
