<!DOCTYPE html>
<html>
  <head>
    <title>Test01</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header class="navbar navbar-fixed-top navbar-default ">
    <div class="container-fluid ">
      <div class="row ">
      <div class="navitem col-md-4">
        <%= link_to "SWITCHED", "", class:"btn btn-primary btn-lg btn-block btn-huge", id: "logo" %>
      </div>
        <div class="col-md-4">

        </div>
      <div class="navitem col-md-1">

        <% if user_signed_in? %>
            <%= link_to "Log Out",  "/users/sign_out" , class:"btn btn-primary btn-lg btn-block btn-huge", id: "logout", method: :delete %>

      <% else%>
       <%= link_to "Log In",  "/users/sign_in" , class:"btn btn-primary btn-lg btn-block btn-huge", id: "login" %>
            <%end%>
      </div>
        <div class="navitem col-md-1">
      <%= link_to "HOME", "/home", class:"btn btn-primary btn-lg btn-block btn-huge", id: "home" %>
    </div>
      <div class="navitem col-md-1">
        <%= link_to "KillSwitch", "", class:"btn btn-primary btn-lg btn-block btn-huge", id: "killswitch" %>
      </div>
      <div class="navitem col-md-1">
        <%= link_to "Setup", "", class:"btn btn-primary btn-lg btn-block btn-huge", id: "setup" %>
      </div>
      </div>
      </div>
  </header>

  <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
  <% end %>
    <%= yield %>

  <footer>
    <br>
    <br>

    <hr style="border: none; border-bottom: 1px solid grey ;">

    <h5 style="text-align: center">	&copy; Switch Inc.  @2017</h5>


  </footer>
  </body>


</html>
